<!DOCTYPE html>
<html>
	<head>
		<title>Foodstrap</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body ng-app="foodstrap" ng-controller="MainCtrl">
		<div class="header">
			<div id="title"><h2>Foodstrap</h2></div>
		</div>
		<div class="selection">
			<form name="lunch" id="lunch">
				<h2>Lunch</h2>
				<label>
					<input type="radio" name="lunch">
					The Westfield Mall
				</label><br/>
				<label>
					<input type="radio" name="lunch">
					Little Delhi
				</label><br/>
				<label>
					<input type="radio" name="lunch">
					Farmerbrown
				</label><br/>
				<label>
					<input type="radio" name="lunch">
					Tu Lan
				</label><br/>
				<label>
					<input type="radio" name="lunch">
					Taqueria Cancún
				</label><br/>
				<label>
					<input type="radio" name="lunch">
					The Hall
				</label><br/>
				<label>
					<input type="radio" name="lunch">
					I brought food.
				</label><br/>
		  </form>

			<form name="dinner" id="dinner">
				<h2>Dinner</h2>
				<label>
					<input type="radio" name="dinner">
					The Westfield Mall
				</label><br/>
				<label>
					<input type="radio" name="dinner">
					Little Delhi
				</label><br/>
				<label>
					<input type="radio" name="dinner">
					Farmerbrown
				</label><br/>
				<label>
					<input type="radio" name="dinner">
					Tu Lan
				</label><br/>
				<label>
					<input type="radio" name="dinner">
					Taqueria Cancún
				</label><br/>
				<label>
					<input type="radio" name="dinner">
					The Hall
				</label><br/>
				<label>
					<input type="radio" name="dinner">
					I brought food.
				</label><br/>
		  </form>

			<form name="night" id="night">
				<h2>Night</h2>
				<label>
					<input type="radio" name="night">
					Tempest
				</label><br/>
			</form>
			<div id="button-container">
				<button id="ready-button"><p>I'm ready to eat! :)</p></button>
			</div>
		</div>

		<script src="/javascripts/angularApp.js"></script>

	</body>
</html>
